* {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 62.5%; /* 1rem = 10px */
	font-family: 'Roboto Condensed', sans-serif;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
  display: flex;
	flex-direction: column;
  justify-content: space-between;
  background: #fff;
  flex-basis: 10rem;
	min-height: 10rem;
	box-shadow: 0 0 25px -5px #000;
}

.header__logo {
  align-self: center;
  text-align: center; 
} 

.header__title {
	padding-top: 1rem;
	padding-bottom: 0.2rem;
  font-size: 3.0rem;
	font-weight: 700;
  text-transform: uppercase;
}

.header__subtitle {
  border-top: 1px solid #000;
	padding-top: 0.5rem;
	font-size: 1.3rem;
  word-spacing: 1rem;
	font-weight: 700;
  letter-spacing: 0.3rem;
}

.header-nav {
  align-self: center;
}

.header-nav__items {
  display: flex;
  justify-content: flex-end;
	margin: 1rem 0;
  font-size: 1.7rem;
  list-style: none;
}

.header-nav__item {
  padding: 0.5rem 1rem;
  background: #fff;
}

a {
  text-decoration: none;
	font-weight: 700;
}

.header a, .header a:visited {
  color: #444;
}

.header a:hover {
  color: #000;
  border-top: 2px solid #ff0000;
  border-bottom: 2px solid #ff0000;
}

/*	===== Main section =====	*/
.main {
	flex-basis: 100%;
	width: 100%;
	padding: 20px;
}

.slider {
  height: 100%;
  position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.slider__item {
  position: absolute;
  transition: opacity 2s ease-in; /* adjust transition-duration (in seconds) */ 
  width: 100%;
	max-width: 1050px;
	height: auto;
	margin: 0 auto;
}

.hidden {
  opacity: 0;
}
/*.slider__item--hidden*/


/*	===== FOOTER =====	*/
.footer {
  display: flex;
	justify-content: space-around;
  flex-basis: 5rem;
	min-height: 5rem;
	padding: 0 2rem;
	color: #ccc;
  background: #000;
}

.footer__copy {
	flex-basis: 45%;
	align-self: center;
	text-align: center;
  font-size: 1.3rem;
}

.footer__links {
	display: flex;
	align-self: center;
	flex-basis: 40%;
  font-size: 3rem;	
	text-align: right;
}

.footer__links a {
	margin: 0.8rem;
  font-size: 2.5rem;
  color: #ccc;
}

.footer__links a:active {
  color: #ccc;
}

.footer__links a:hover {
  color: #ff0000;
}

.footer__links a:visited {
  color: ;
}


/* ===== MEDIA MIN-WIDTH 640px ===== */

@media screen and (min-width: 640px)
							and (orientation: landscape) {
		
	.header {
		flex-direction: row;
		flex-basis: 7rem;
	  min-height: 7rem;
		padding: 0 1rem;
	}
								
	.header__title {
		padding-top: 0;
	}
	
	.header-nav {
		align-self: flex-end;
	}
								
	.header-nav__item:last-child {
		padding-right: 0;
	}
								
	.slider__item {
		width: auto;
		max-width: 1050px;
		height: 100%;
	}
						
	.footer__copy {
		flex-basis: 85%;
	}
								
	.footer__links {
		flex-basis: 15%;
		margin-right: 2rem;
	}
								
}


/* ===== MEDIA MIN-WIDTH 768px ===== */

@media screen and (min-width: 768px) {
	
	.header {
		flex-basis: 12rem;
		min-height: 12rem;
	}
	
	.header__title {
		padding-top: 1rme;
  	font-size: 3.8rem;
	}
	
	.header__subtitle {
		font-size: 1.5rem;
	}
	
	.footer {
		flex-basis: 8rem;
		min-height: 8rem;
	}
	
	.footer__copy {
		flex-basis: 85%;
		font-size: 1.6rem;
	}
	
	.footer__links {
		flex-basis: 15%;
		margin-right: 4rem;
		align-self: center;
		text-align: right;
		font-size: 3rem;	
	}
	
	.footer__links a {
		font-size: 3rem;
	}
	
}


/* ===== MEDIA MIN-WIDTH 1024px ===== */

@media screen and (min-width: 1024px) {
	
	.header {
		flex-direction: row;
		flex-basis: 10rem;
		min-height: 10rem;
		padding: 0 2rem;
	}
	
	.header-nav {
  	align-self: flex-end;
  	flex-basis: 50%;
	}
	
	.header-nav__items {
		font-size: 2rem;
	}
	
	.header-nav__item {
  	padding: 0.5rem 1.2rem;
	}
	
}